.welcomeTab{
    -fx-font-family: 'Rockwell';
    -fx-fill: black;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    white-space:normal;
}

.welcomeToGaussJordan{
    -fx-font-family: 'Rockwell';
    -fx-fill: black;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.matrixDimensions{
    -fx-font-family: 'Rockwell';
    -fx-fill: black;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}